<ul class="social-media-list">
{%- for entry in site.minima.social_links -%}
  {%- include social-item.html item = entry -%}
{%- endfor -%}
  <li class="author" style="float: center;">
    <span id="_zero_74885">
      <noscript>
        <a href="https://zero.kz/?s=74885" target="_blank">
          <img src="https://c.zero.kz/z.png?u=74885" width="88" height="31" alt="ZERO.kz" style="border: none;" />
        </a>
      </noscript>
    </span>
    
    <script>
      var _zero_kz_ = _zero_kz_ || [];
      _zero_kz_.push(['id', 74885]);
      _zero_kz_.push(['type', 1]);
      (function () {
        var a = document.getElementsByTagName('script')[0],
        s = document.createElement('script');
        s.async = true;
        s.src = (document.location.protocol == 'http:' ? 'http:' : 'https:') + '//c.zero.kz/z.js';
        a.parentNode.insertBefore(s, a);
      })();
    </script>
  </li>
  <li class="author" style="float: right;"><a href="https://t.me/Yergali_B" target="_blank">Авторға хабарласу</a></li>
</ul>
