<ul class="social-media-list">
{%- for entry in site.minima.social_links -%}
  {%- include social-item.html item = entry -%}
{%- endfor -%}
  <li class="author" style="text-align: center; margin: 0 auto;">© <a title="Авторға хабарласу үшін" href="https://t.me/Yergalife" target="_blank">Yergali</a> 2024</li>
  <li style="float: right;">
    <!-- ZERO.kz -->
<span id="_zero_74885">
  <noscript>
    <a href="https://zero.kz/?s=74885" target="_blank">
      <img src="https://c.zero.kz/z.png?u=74885" width="88" height="31" alt="ZERO.kz" />
    </a>
  </noscript>
</span>

<script>
  var _zero_kz_ = _zero_kz_ || [];
  // siteId
  _zero_kz_.push(['id', 74885]);
  // Button color
  _zero_kz_.push(['type', 1]);
  // Check url every 200 ms, if it changed - reload button image
  // _zero_kz_.push(['url_watcher', 200]);

  (function () {
    var a = document.getElementsByTagName('script')[0],
    s = document.createElement('script');
    // s.type = 'text/javascript';
    s.async = true;
    s.src = (document.location.protocol == 'http:' ? 'http:' : 'https:') +
      '//c.zero.kz/z.js';
    a.parentNode.insertBefore(s, a);
  })();
</script>
<!-- End ZERO.kz -->

  </li>
  
</ul>
