---
layout: base
---

<div class="audiobooks">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
  {% assign audiobooks = site.audiobooks %}
  {%- if audiobooks.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="course-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="course-list">
      {%- for audio in audiobooks -%}
      <li>
        <h3>
          <a class="audio-link" href="{{ audio.url | relative_url }}">
            {{ audio.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ audio.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
