---
layout: base
---
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
<script src="https://rawgit.com/kolber/audiojs/master/audiojs/audio.min.js"></script>
<div class="audiocontrols">
    <audio id='audio'></audio>
    <p>
        <input type='button' id='play' value='▶'>
        <input type='button' id='pause' value='❚❚'> 
        <input type='button' id='previous' value='❚◀◀'>
        <input type='button' id='rewind' value='◀◀'>
        <input type='button' id='forward' value='▶▶'>
        <input type='button' id='next' value='▶▶❚'>
    </p>
    <p>
        <select id="trackSelector"></select>
    </p>
</div>

<script>
    var as, audio;
    var audiopath = "{{ page.audiopath }}";
    var startedtrack = parseInt("{{ page.firsttrack }}");
    var trackCount = parseInt("{{ page.total_tracks }}");
    var listnames = {{ page.listnames | jsonify }};

    audiojs.events.ready(function () {
        as = audiojs.createAll();
        audio = as[0];
        loadTrack(startedtrack);

        document.getElementById('audio').addEventListener('timeupdate', function (e) {
            console.log(e.target.currentSrc, e.target.currentTime);
        });

        function relativeSeek(seconds) {
            audio.skipTo(audio.element.currentTime / audio.duration + seconds / audio.duration);
        }

        function getAudioURL(trackNumber) {
            return audiopath + trackNumber + ".mp3";
        }

        function loadTrack(trackNumber) {
            audio.load(getAudioURL(trackNumber));
            document.getElementById('trackSelector').value = trackNumber;
        }

        document.getElementById('trackSelector').addEventListener('change', function (e) {
            var selectedTrack = parseInt(e.target.value);
            loadTrack(selectedTrack);
        });
        document.getElementById('play').addEventListener('click', function (e) {
            audio.play(); 
        });
        
        document.getElementById('pause').addEventListener('click', function (e) {
            audio.pause(); 
        });

        //document.getElementById('rewindMore').addEventListener('click', function (e) {relativeSeek(-60);});
        
        document.getElementById('rewind').addEventListener('click', function (e) {
            relativeSeek(-15);
        });
        document.getElementById('forward').addEventListener('click', function (e) {
            relativeSeek(15);
        });
        //document.getElementById('forwardMore').addEventListener('click', function (e) {relativeSeek(60);});

        document.getElementById('previous').addEventListener('click', function (e) {
            var currentTrack = parseInt(document.getElementById('trackSelector').value);
            if (currentTrack > startedtrack) {
                loadTrack(currentTrack - 1);
            }
        });

        document.getElementById('next').addEventListener('click', function (e) {
            var currentTrack = parseInt(document.getElementById('trackSelector').value);
            if (currentTrack < startedtrack + trackCount) {
                loadTrack(currentTrack + 1);
            }
        });

        var trackSelector = document.getElementById('trackSelector');
        for (var i = startedtrack; i <= startedtrack + trackCount - 1; i++) {
            var option = document.createElement('option');
            option.value = i;
            option.textContent = "Track " + (i - startedtrack + 1) + ": " + listnames[i - startedtrack];
            trackSelector.appendChild(option);
        }
    });
</script>
