---
layout: base
---
{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}
<script src="https://rawgit.com/kolber/audiojs/master/audiojs/audio.min.js"></script>
<div class="audiocontrols">
    <audio id='audio'></audio>
    <p>
        <input type='button' id='play' value='▶'>
        <input type='button' id='pause' value='❚❚'> 
        <input type='button' id='previous' value='❚◀'>
        <input type='button' id='rewind' value='◀◀'>
        <input type='button' id='forward' value='▶▶'>
        <input type='button' id='next' value='▶❚'>
    </p>
    <p>
        <select id="trackSelector"></select>
    </p>
</div>

<script>
    var as, audio;
    var audiopath = "{{ page.audiopath }}";
    var startedtrack = "{{ page.firsttrack }}"; // Treat as string
    var trackCount = parseInt("{{ page.total_tracks }}");
    var listnames = {{ page.listnames | jsonify }};
    var currentTrackIndex = startedtrack;

    audiojs.events.ready(function () {
        as = audiojs.createAll();
        audio = as[0];
        loadTrack(startedtrack);

        // Event listener for when the current track ends
        audio.element.addEventListener('ended', function() {
            // Play the next track
            playNextTrack();
        });

        function relativeSeek(seconds) {
            audio.skipTo(audio.element.currentTime / audio.duration + seconds / audio.duration);
        }

        function getAudioURL(trackNumber) {
            return audiopath + pad(trackNumber, startedtrack.length) + ".mp3"; // Zero-padding based on the length of startedtrack
        }

        function loadTrack(trackNumber) {
            audio.load(getAudioURL(trackNumber));
            document.getElementById('trackSelector').value = trackNumber;
            currentTrackIndex = trackNumber;
        }

        function playNextTrack() {
            var nextTrack = pad(parseInt(currentTrackIndex) + 1, startedtrack.length); // Padding based on the length of startedtrack
            if (nextTrack <= startedtrack + trackCount - 1) {
                loadTrack(nextTrack);
                audio.play();
            }
        }

        document.getElementById('trackSelector').addEventListener('change', function (e) {
            var selectedTrack = e.target.value;
            loadTrack(selectedTrack);
        });
        document.getElementById('play').addEventListener('click', function (e) {
            audio.play(); 
        });
        
        document.getElementById('pause').addEventListener('click', function (e) {
            audio.pause(); 
        });
        
        document.getElementById('rewind').addEventListener('click', function (e) {
            relativeSeek(-15);
        });
        document.getElementById('forward').addEventListener('click', function (e) {
            relativeSeek(15);
        });

        document.getElementById('previous').addEventListener('click', function (e) {
            var currentTrack = parseInt(document.getElementById('trackSelector').value);
            if (currentTrack > startedtrack) {
                loadTrack(currentTrack - 1);
                audio.play();
            }
        });

        document.getElementById('next').addEventListener('click', function (e) {
            playNextTrack();
        });

        var trackSelector = document.getElementById('trackSelector');
        for (var i = 0; i < trackCount; i++) {
            var trackNumber = pad(parseInt(startedtrack) + i, startedtrack.length); // Padding based on the length of startedtrack
            var option = document.createElement('option');
            option.value = trackNumber;
            // option.textContent = "Track " + (i + 1) + ": " + listnames[i];
            option.textContent = listnames[i];
            trackSelector.appendChild(option);
        }
    });

    // Function to pad with leading zeros
    function pad(num, size) {
        var s = num+"";
        while (s.length < size) s = "0" + s;
        return s;
    }
</script>
