<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "kz" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/youtube-embed.js"></script>
    <script src="/scripts/movements.js"></script>
  </body>
</html>
