---
layout: base
---

<div class="esepter">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
  {% assign esepter = site.esepter %}
  {%- if esepter > 0 -%}
    {%- if page.list_title -%}
      <h2 class="esep-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="esep-list">
      {%- for esep in esepter -%}
      <li>
        <h3>
          <a class="esep-link" href="{{ esep.url | relative_url }}">
            {{ esep.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ esep.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
