---
layout: base
---

<div class="problems">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
  {% assign problems = site.problems %}
  {%- if problems > 0 -%}
    {%- if page.list_title -%}
      <h2 class="problem-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="problem-list">
      {%- for problem in problems -%}
      <li>
        <h3>
          <a class="problem-link" href="{{ problem.url | relative_url }}">
            {{ problem.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ problem.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
