---
layout: base
---
{%- if page.title -%}
<h1 class="page-heading" style="text-align: center;">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

<details>
  <summary style="font-size: 24px;">Код жіберу</summary>
        <form id="submit-form">
            <label for="programTypeId">Python нұсқасы:</label>
            <select id="programTypeId" name="programTypeId" required>
                <option value="31">Python 3.8.10</option>
                <option value="41">PyPy 3.6.9 (7.3.0)</option>
                <option value="42">PyPy 3.10 (7.3.15, 64bit)</option>
            </select>
            <br><br>
            <label for="sourceCode">Код жазу:</label>
            <br>
            <textarea id="sourceCode" name="sourceCode" rows="10" cols="50" required></textarea>
            <br><br>
            <button type="submit">Шешімді жіберу</button>
        </form>
        <div id="submission-result"></div>
    </details>

<script>
const contestId = "{{ page.contest }}";
const problemIndex = "{{ page.problem }}";

document.getElementById('submit-form').addEventListener('submit', async function(event) {
    event.preventDefault();
    const formData = new FormData(this);
    const sourceCode = formData.get('sourceCode');
    const programTypeId = formData.get('programTypeId');

    const data = {
        user: 'Uzdik User',
        typeContest: "gym",
        contestId: contestId,
        problem_id: problemIndex,
        language_id: programTypeId,
        source_code: sourceCode,
    };
    console.log('Sending data:', data);

    try {
        const response = await fetch('https://flask-server-0l8w.onrender.com/submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });

        const resultDiv = document.getElementById('submission-result');
        if (response.ok) {
            resultDiv.innerText = await response.text();
        } else {
            resultDiv.innerText = 'Submission failed!';
        }
    } catch (error) {
        console.error('Error submitting solution:', error);
        document.getElementById('submission-result').innerText = 'Server error';
    }
});
</script>
