---
layout: base
---

<div class="jobalar">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
  <h2 class="joba-list-heading">«Үздіктер» жобасы</h2>
  <h2 class="joba-list-heading">Латынша жазу</h2>
  <h2 class="joba-list-heading">Тікелей Live режимінде объектілерді анықтау</h2>
  {%- assign jobalar = site.jobalar -%}
  {%- if jobalar.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="joba-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="joba-list">
      {%- for joba in jobalar -%}
      <li>
        <h3>
          <a class="joba-link" href="{{ joba.url | relative_url }}">
            {{ joba.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ joba.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
